body {
  font-family: 'Georgia', serif;
  background-color: #f7f2ea;
  color: #222;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #c49b63;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f0e8;
  padding: 40px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

label {
  font-size: 20px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #c49b63;
  border-radius: 4px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #c49b63;
  border-radius: 4px;
  box-sizing: border-box; /* Agregamos esta propiedad para incluir el padding en el ancho total */
}

input[type="submit"] {
  background-color: #c49b63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #a97e4a;
}

.error-message {
  color: #d8000c;
  margin-bottom: 10px;
}

.error-input {
  border-color: #d8000c;
}

.input-group {
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #c49b63;
  border-radius: 4px;
}
